{% extends "layout.html" %}
{% block content%}

<body>
     <!--es para estirar la imagen de fondo que esta en el css-->
    <div class="contenedor">
        <article>
            <h1 class="display">LOS 30 PUEBLOS MISIONEROS GUARANIES Y LA REAL ORDEN DE PROTECCIÓN DE LAS MISIONES</h1>
            <p class="letras">En 1609 se funda la primera de las misiones en San Ignacio Guazú (Paraguay), a partir de la que se van construyendo un conjunto de treinta pueblos misioneros: 15 misiones en las actuales provincias de Misiones y Corrientes (Argentina), 8 en el Paraguay y 7 en las denominadas Misiones Orientales (Rio Grande do Sul, Brasil).</p>
        </article>
            <br>
        <article>
            <p class="letras">En 1611 se publicó la real orden de protección de las misiones, en la que se dotaba a cada misión con total autonomía para gobernarse, se prohibía el acceso a las reducciones a externos y se garantizaba a los nativos que nunca caerían en manos de encomenderos y esclavistas. Así, bajo la influencia de la Compañía de Jesús, los nativos quedaban protegidos de los encomenderos españoles y los esclavistas portugueses.</p>
        </article>
            <br>
        <article>
            <p class="letras">Pero los conflictos no cesaron, lo que obligó al abandono o reubicación de algunos pueblos. La batalla más conocida fue la batalla de Mbororé (actualmente municipio de Panambí, provincia de misiones, Argentina), reconocida como la primera batalla naval en Sudamérica y que enfrentó a los guaraníes que habitaban las Misiones Jesuíticas con los bandeirantes, exploradores y aventureros portugueses, que terminó con la victoria guaraní.</p>
        </article>

        <article>
            <p></p>
        </article>
    </div>
</body>

{% endblock %}