{% extends "layout.html" %}
{% block content%}

<body>

        <img src="{{ url_for ('static', filename= 'css/img/fotos/photo_2022-09-25_22-39-38.jpg' ) }}" alt="" width="300" height="300">
        <img src="{{ url_for ('static', filename= 'css/img/fotos/photo_2022-09-25_22-39-49.jpg' ) }}" alt="" width="300" height="300">
        <img src="{{ url_for ('static', filename= 'css/img/fotos/photo_2022-09-25_22-39-53.jpg' ) }}" alt="" width="300" height="300">
        <img src="{{ url_for ('static', filename= 'css/img/fotos/photo_2022-09-25_22-40-59.jpg' ) }}" alt="" width="300" height="300">
        <img src="{{ url_for ('static', filename= 'css/img/fotos/photo_2022-09-25_22-41-02.jpg' ) }}" alt="" width="300" height="300">
<br>
        <img src="{{ url_for ('static', filename= 'css/img/fotos/photo_2022-09-25_22-41-07.jpg' ) }}" alt="" width="300" height="300">
        <img src="{{ url_for ('static', filename= 'css/img/fotos/photo_2022-09-25_22-41-08.jpg' ) }}" alt="" width="300" height="300">
        <img src="{{ url_for ('static', filename= 'css/img/fotos/photo_2022-09-25_22-41-10.jpg' ) }}" alt="" width="300" height="300">
        <img src="{{ url_for ('static', filename= 'css/img/fotos/photo_2022-09-25_22-41-11.jpg' ) }}" alt="" width="300" height="300">
        <img src="{{ url_for ('static', filename= 'css/img/fotos/photo_2022-09-25_22-41-12.jpg' ) }}" alt="" width="300" height="300">
<br>
        <img src="{{ url_for ('static', filename= 'css/img/fotos/photo_2022-09-25_22-41-13.jpg' ) }}" alt="" width="300" height="300">
        <img src="{{ url_for ('static', filename= 'css/img/fotos/photo_2022-09-25_22-41-15.jpg' ) }}" alt="" width="300" height="300">
        <img src="{{ url_for ('static', filename= 'css/img/fotos/photo_2022-09-25_22-41-16.jpg' ) }}" alt="" width="300" height="300">
        <img src="{{ url_for ('static', filename= 'css/img/fotos/photo_2022-09-25_22-41-17.jpg' ) }}" alt="" width="300" height="300">
        <img src="{{ url_for ('static', filename= 'css/img/fotos/photo_2022-09-25_22-41-19.jpg' ) }}" alt="" width="300" height="300">
        <img src="{{ url_for ('static', filename= 'css/img/fotos/photo_2022-09-25_22-41-20.jpg' ) }}" alt="" width="300" height="300">



</body>

{% endblock %}